<%- include('../partials/header.ejs') %>

<body>

    <div class="container">

        <%- include('../partials/menu.ejs') %>

        <div class="card">

            <div class="card-header">
                <h3>Cadastro de Cliente</h3>
            </div>

            <div class="card-body">

                <form action="http://localhost:3000/cadastrarCliente" method="post">
                                                            
                    <%# Cadastro de CPF %>
                    <label for="cpf"></label>
                    <input class="form-control" type="text" 
                    name="cpf" id="cpf"
                    placeholder="CPF">
                
                    <%# Cadastro de EMAIL %>
                    <label for="email"></label>
                    <input class="form-control" type="text" 
                    name="email" id="email"
                    placeholder="Email">
                                    
                    <%# Cadastro de TELEFONE %>
                    <label for="telefone"></label>
                    <input class="form-control" type="text" 
                    name="telefone" id="telefone"
                    placeholder="Telefone">
                
                    <%# Cadastro de ENDEREÇO %>
                    <label for="endereco"></label>
                    <input class="form-control" type="text" 
                    name="endereco" id="endereco"
                    placeholder="Endereço">

                    <button class="btn btn-success mt-2">CADASTRAR</button>

                </form>

            </div>

        </div>

    </div>

</body>

<%- include('../partials/footer.ejs') %>

</html>